<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" verbose="1" parallel="tests">
    <test name="ModelTest" thread-count="3">
        <classes>
            <class name="info.dvad.test.ModelTest">
                <methods>
                    <include name="bTest"/>
                    <include name="ATest"/>
                    <include name="aTest"/>
                </methods>
            </class>
            <class name="info.dvad.test.ComputerTest">
                <methods>
                    <include name="HP"/>
                    <include name="Asus"/>
                    <include name="Samsung"/>
                </methods>
            </class>
            <class name="info.dvad.test.PriorityTest">
                <methods>
                    <include name="id1"/>
                    <exclude name="id3"/>
                    <exclude name="id5"/>
                </methods>
            </class>
       </classes>
    </test>
    <!--Запуск методов, относящихся к нескольким группам.-->
    <test name="group">
        <groups>
            <run>
                <include name="groupName"/>
                <include name="comGroup"/>
            </run>
        </groups>
        <classes>
            <class name="info.dvad.test.ComputerTest"></class>
        </classes>
    </test>
    </suite>
